@import '../../../styles/variables';

.root {
    color: $dark;

    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &:not(.active) {
        &:hover,
        &:focus {
            color: $gray-600;
            outline: none;
        }
    }
}

.active {
    color: $primary;
}
